.wrapper
  .row.bg.animated.fadeInDown
    .medium-5.column
      h1.title the martian
      span.sub-left
        | Action, Adventure, Sci-fi
      span.sub-right
        | 2015
      .break
      p.content
        | During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm and left behind by his crew. With only meager supplies, he must draw upon his ingenuity, wit and spirit to subsist and find a way to signal to Earth that he is alive.
    .medium-7.column.text-right
      .button
        span.fa.fa-play
        | play trailer
        