.container
	.content
		h1.
			CSS3 Icons
		.icon-container
			.icon.icon-fill
				i.fa.fa-home
			.icon.icon-enter
				i.fa.fa-user
			.icon.icon-expand 
				i.fa.fa-bars
			.icon.icon-collapse
				i.fa.fa-sign-in
			.icon.icon-rotate
				i.fa.fa-phone